'.source.js':
  'Function':
    'prefix': 'fun'
    'body': """
function ${1:name}(${2:arguments}) {
  $0
} //-- end ${3:name}()
"""
  'Function':
    'prefix': 'function'
    'body': """
function ${1:name}(${2:arguments}) {
  $0
} //-- end ${3:name}()
"""
