'.source.js':
  'Angular Provider':
    'prefix': 'ngc'
    'body': """

${1:controller}.\$inject = ['\$scope']

function ${1:controller}(\$scope) {
	initialize()

	///////////////////////////////////
	// Initialization                //
	///////////////////////////////////

	function initialize() {
		$0
	}

	///////////////////////////////////
	// Scope methods                 //
	///////////////////////////////////


	///////////////////////////////////
	// Event handlers                //
	///////////////////////////////////


	///////////////////////////////////
	// Private functions             //
	///////////////////////////////////


} //-- end ${1:controller}()

"""
