'.source.js':

  'Angular module and controller':
    'prefix': 'ngmc'
    'body': """

ng
	.module("${1:module}"${2:, [${3:dependencies}]})
	.config(${4:router})
	.controller(${5:controller})

/////////////////////////////////////
// Router configuration            //
/////////////////////////////////////

function ${4:router}(\$urlRouterProvider, \$stateProvider) {
	var _router = {
		url: '${6:/}',
		template${7:Url}: '${8:template_path}',
		controller: ${5:controller}
	}

	\$stateProvider.state('${9:state_name}', _router)
} //-- ${4:router}()

/////////////////////////////////////
// Controller functions            //
/////////////////////////////////////

${5:controller}.\$inject = ['\$scope']

function ${5:controller}(\$scope) {
	initialize()

	///////////////////////////////////
	// Initialization                //
	///////////////////////////////////

	function initialize() {
		$0
	}

	///////////////////////////////////
	// Scope methods                 //
	///////////////////////////////////


	///////////////////////////////////
	// Event handlers                //
	///////////////////////////////////


	///////////////////////////////////
	// Private functions             //
	///////////////////////////////////


} //-- end ${5:controller}()

  ng
    .module("${8:module}"${9:, [${10:dependencies}]})
    .config(${3:router})
    .controller(${6:controller})

"""
