'.source.js':

  'Angular module and controller':
    'prefix': 'ngmc'
    'body': """

  /////////////////////////////////////
  // ${1:Router rules} ${2:space} //
  /////////////////////////////////////

  function ${3:router}($stateProvider) {
    var _router = {
      url: '${4:/}',
      template: '${5:template_path}',
      controller: ${6:controller}
    }

    $stateProvider.state(_router)
  } //-- ${3:router}()

  /////////////////////////////////////
  // ${6:controller} ${7:space} //
  /////////////////////////////////////

  ${6:controller}.$inject = ['$scope'${7:dependencies}]

  function ${6:controller}($scope${7:dependencies}) {
    initialize()

    ///////////////////////////////////
    // Initialization                //
    ///////////////////////////////////

    function initialize() {
      $0
    }

    ///////////////////////////////////
    // Scope Methods                 //
    ///////////////////////////////////


    ///////////////////////////////////
    // Event handlers                //
    ///////////////////////////////////


    ///////////////////////////////////
    // Private functions             //
    ///////////////////////////////////


  } //-- end ${6:controller}

  ng
    .module("${8:module}"${9:, [${10:dependencies}]})
    .config(${3:router})
    .controller(${6:controller})

"""
