'.source.js':

  'Angular module and controller':
    'prefix': 'ngmc'
    'body': """
  ng
    .module("${1:module}"${2:, [${3:dependencies}]})
    .controller(${4:controller})

  /////////////////////////////////////
  // ${4:controller} ${5:space} //
  /////////////////////////////////////

  ${4:controller}.$inject = ['$scope'${6:dependencies}]

  function ${4:controller}($scope${7:dependencies}) {
    initialize()

    ///////////////////////////////////
    // Initialization                //
    ///////////////////////////////////

    function initialize() {
      $0
    }

    ///////////////////////////////////
    // Scope Methods                 //
    ///////////////////////////////////


    ///////////////////////////////////
    // Event handlers                //
    ///////////////////////////////////


    ///////////////////////////////////
    // Private functions             //
    ///////////////////////////////////


  } //-- end {$:controller}

"""
