'.source.js':
  'Angular Provider':
    'prefix': 'ngmp'
    'body': """
  ng
    .module("${1:module}"${2:, [${3:dependencies}]})
    .provider('$${4:providerName}', $${4:providerName}Provider)

/////////////////////////////////////
// Provider function               //
/////////////////////////////////////

function $${4:providerName}ProviderProvider() {
    var self

    /* jslint ignore:start */
    self = this
    /* jslint ignore:end */

    self.$get = serviceFactory

    function serviceFactory() {
      $0
    }
}

"""
